<h1>Find Your Fav.....</h1>
<div class="d-flex gap-3">
  <div class="card" style="width: 18rem;">
    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.homedepot.com%2Fp%2FCommercial-Electric-20-in-Oscillating-Pedestal-Fan-with-Adjustable-Height-in-Black-SFSD1-500BIW%2F318152096&psig=AOvVaw2ltjgNfpOOx4DaPxzvH_kS&ust=1755527622952000&source=images&cd=vfe&opi=89978449&ved=0CBYQjRxqFwoTCMCjxZWIko8DFQAAAAAdAAAAABAE" class="card-img-top" alt="...">
    <div class="card-body text-center">
      <h5 class="card-title">Card title 1</h5>
      <p class="card-text">Some quick example text.</p>
      <a href="#" class="btn btn-primary">Add To Cart</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body text-center">
      <h5 class="card-title">Card title 2</h5>
      <p class="card-text">Some quick example text.</p>
      <a href="#" class="btn btn-primary">Add To Cart</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body text-center">
      <h5 class="card-title">Card title 3</h5>
      <p class="card-text">Some quick example text.</p>
      <a href="#" class="btn btn-primary">Add To Cart</a>
    </div>
  </div>
</div>
